# Transformar cadenas

In [ ]:
text = """Interesting facts about the Moon. The Moon is Earth's only satellite. There are several interesting facts about the Moon and how it affects life here on Earth. On average, the Moon moves 4cm away from the Earth every year. This yearly drift is not significant enough to cause immediate effects on Earth. The highest daylight temperature of the Moon is 127 C."""

# Ejercicio 1
1. Separar oraciones

In [ ]:
text_parts = text.split('. ')
text_parts

2. Buscar palabras clave

In [ ]:
key_words = ["average", "temperature", "distance"]

for sentence in text_parts:
    for key_word in key_words:
        if key_word in sentence:
            print(sentence)
            break

3. Cambiar C a Celsius

In [ ]:
print(text.replace(' C', ' Celsius'))

# Ejercicio 2
1. Asigamos valores a usar

In [15]:
name = "Moon"
gravity = 0.00162 # in kms
planet = "Earth"

2. Convertimos el título (la primera letra con mayúsculas)

In [16]:
title = f'datos de gravedad sobre {planet}'
print(title.title())

Datos De Gravedad Sobre Earth

3. Formato a los datos proporcionados

In [20]:
hechos = f"""Nombre del planeta: {planet} 
Gravedad en {name}: {gravity * 1000} m/s2 
"""
print(hechos)

 Nombre del planeta: Earth
Gravedad en Moon: 1.6199999999999999 m/s2

4. Concatenar titulo y datos

In [24]:
template = f"""{title.title()} 
{hechos} 
""" 
print(template)

Datos De Gravedad Sobre Earth
 Nombre del planeta: Earth
Gravedad en Moon: 1.6199999999999999 m/s2

5. Se utilizan nuevas variables

In [27]:
planeta = 'Marte '
gravedad  = 0.00143
nombre = 'Ganímedes'

6. Se comprueba si aún sirve el mismo código

In [28]:
print(template)

Datos De Gravedad Sobre Earth
 Nombre del planeta: Earth
Gravedad en Moon: 1.6199999999999999 m/s2

7. Se corrige el template

In [31]:
new_template = """
Datos de Gravedad sobre: {nombre}
Nombre del planeta: {planeta}
Gravedad en {nombre}: {gravedad} m/s2
"""
print(new_template.format(nombre=nombre, planeta=planeta, gravedad=gravedad*1000))

Datos de Gravedad sobre: Ganímedes
Nombre del planeta: Marte
Gravedad en Ganímedes: 1.4300000000000002 m/s2